* {
    box-sizing: border-box !important;
}

.app {
    padding: 0.5em;
    position: relative;
}

.info {

}

.info > div > span {
    margin-right: 1em;
}

.bets {
    padding: 0.5em;
    margin-bottom: 1em;
}

.bets .items {
    display:flex;
    width: 100%;
    overflow: auto;
}

.bets.layout-vertical .items {
    flex-direction: column;
}

.bets.layout-horizontal .items {
    flex-direction: row;
}

.bets .items .item {
    padding: 1em;
}


.lotto {
    box-shadow: 0px 0px 2px black;
    background: #eee;
    border-radius: 0.5em;
    margin-bottom: 1em;
    background: #fcfcfc;
    padding: 0.5em;
}

.collapsible-panel .header {

}

.collapsible-panel .detail {
    margin-top: 1em;
}

.collapsible-panel .show-more-or-less {
    color: red;
    font-size: 0.8em;
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

.collapsible-panel .show-more-or-less .label {
    flex-grow: 1;
}

.collapsible-panel .show-more-or-less .icon {
    flex-grow: 0;
}

.selected-numbers {
    margin-bottom: 1em;
    display: flex
}

.ball {
    border: 1px solid black;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.ball.primary {
    background: green;
    color: white;
}

.grid-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-numbers .grid-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    cursor: pointer;
    padding: 0.25em;
}

.grid-numbers .grid-number .grid-number-value {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    justify-self: stretch;
    cursor: pointer;
    padding: 0.5em;
    width: 100%
}

.grid-numbers .grid-number.selected .grid-number-value {
    background: #DDD;
}

.grid-numbers .grid-number.selected.primary .grid-number-value {
    background: green;
    color: white;
}

.lotto-plus {

}

.jokers {

}

.draws {

}

.box {
    margin-bottom: 1em;
    padding: 0.5em;
    background: white;
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px #EEE;
}

.buttons {
    text-align: right;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-left: 1em;
    color: black;
    background: white;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    height: 3em;
    padding: 0.5em;
    position: relative;
}

.button[disabled] {
    color: #DDD;
}

.button.active {
    background: #DDD;
}

.button .selection {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1em;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0.5em;
    width: 100%;
}

.button .selection:hover {
    background: #EEE;
}

.button .options {
    position: absolute;
    top: 3em;
    border: 1px solid black;
    background: white;
    color: black;
    left: 0;
    z-index: 1000;
    width: 100%;

}

.button .options .option {
    padding: .5em;
}

.button .options .option:hover {
    background: #eee;

}

.pay-row {
    text-align: right;
}

.pay-row .btn-play {

}

.hint {
    font-size: .7em;
    color: red;
    text-align: right;
    padding: .5em 0;
}