* {
    box-sizing:border-box !important;
}

.app {
    padding: 0.5em;
}

.info {

}

.info > div > span {
    margin-right: 1em;
}

.lottos {
    border:1px solid black;
    padding: 0.5em;
    margin-bottom: 1em;
}

.lotto {
    border: 1px solid black;
    margin-bottom:1em;
    background: #fcfcfc;
    padding: 0.5em;
}

.collapsible-panel .header {

}

.collapsible-panel .detail {
    margin-top:1em;
}

.selected-numbers {
    margin-bottom:1em;
    display:flex
}

.ball {
    border: 1px solid black;
    text-align:center;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin:0 0.5em;
    width: 2em;
    height:2em;
    border-radius: 50%;
}

.bet-table {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bet-table > .bet-cell {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    cursor: pointer;
    padding:0.25em;
}

.bet-table > .bet-cell > .bet-field {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    justify-self: stretch;
    cursor: pointer;
    padding: 0.5em;
    width:100%
}

.bet-cell.selected .bet-field{
    background: #DDD;
}

.lotto-plus {

}

.jokers {

}

.draws {

}

.box {
    border:1px solid black;
    margin-bottom:1em;
    padding: 0.5em;
}

.buttons {
    text-align: right;
}

.button {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid black;
    margin-left: 1em;
    color: black;
    background: white;
    cursor: pointer;
}

.pay-row {
    text-align:right;
}

.pay-row .btn-play {

}

.button.active {
    background: #DDD
}
